body{

margin:0;
font-family:Arial;

background:#1c1333;
color:white;

text-align:center;

}

header{

padding:20px;

}

#brain{

width:300px;
cursor:pointer;

}

#fer{

position:fixed;
bottom:10px;
left:20px;
width:120px;

}

#fer img{

width:100%;

}

#dialogo{

background:white;
color:black;
padding:10px;

border-radius:15px;

margin-bottom:10px;

display:none;

}